
TELEGRAM_BOT_TOKEN="8378744564:AAHDO7ohYJhb360qZuccZSt21UWzBn38nPg"
TELEGRAM_CHAT_ID="-1003203822672"
TELEGRAM_ADMIN_USERNAMES="@DDDpS,arty_m7"

# Next.js
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Analytics (MOCK - замените на реальные)
NEXT_PUBLIC_YANDEX_METRIKA_ID=""
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""
